<p class='text-center'>
  <%= @food_business ? @food_business.business_name : @supplier.business_name %> 
</p>

<%# new orders %>
<%= render 'new_orders' if @supplier %>

<br>

<%# Order history %>
<%= render 'orders'%>

<br>

<div class="info-box-orders">
  <p class="text-center box-title">Data</p>
  <%# TODO: calculate weekly expenditure %>
  <p><span class="data-title">Weekly total:</span> $1400</p>
  <%# TODO: calculare percentage %>
  <p><span class="data-title">Last week:</span> $1300</p>
  <p><span class="data-title">Budget:</span> $1350</p>
</div>


<br>

<%= render 'menu_index' %>
