$primary: #449534;
$gray: #f2f2f2;
$lightprimary: #96C11F;
$darkgray: #828282;

$font-xl: 36px;
$font-large: 20px;
$font-normal: 18px;
$font-small: 16px;
$font-xs: 14px;

@import 'font-awesome';
@import 'bootstrap';
@import 'devise_errors';
@import 'navbar';
@import 'home';
@import 'forms';
@import 'food_businesses';
@import 'suppliers';
@import 'orders';
@import 'products';
@import 'order_products';
@import 'messages';
@import 'conversations';



html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0 auto;
  font-size: $font-normal;
}
.container {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
// font-sizes
.xs {
  font-size: $font-xs;
}
.small {
  font-size: $font-small;
}
.medium {
  font-size: $font-normal;
}
.large {
  font-size: $font-large;
}
.xl {
  font-size: $font-xl;
}

.back-arrow {
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 10;
}
.logout {
  position: absolute;
  left: 10px;
  top: 40px;
  z-index: 10;
}
// keypad
.menu-box {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 3px solid white;
  z-index: 1000;
  .menu-key {
    background: $gray;
    vertical-align: top;
    text-align: center;
    margin-bottom: 4px;
    height: 80px;
    width: 32%;
    display: inline-block;
    font-size: 32px;
    padding-top: 10px;
    border: 1px solid #bdbdbd;
    .key-title {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
// Footer
// .footer {
//   height: 80px;
//   margin-top: 20px;
//   background: black;
// }
// links
.link-text {
  font-size: 18px;
  text-align: center;
}
.link {
  color: $primary;
  font-size: 24px;
  vertical-align: top;
}
.link:hover {
  color: darken($primary, 15%);
}
// data
.data-title {
  color: $primary; 
}
.info-box {
  background: $gray;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: left;
}
.hidden {
  display: none;
}
.list-title {
  font-weight: bold;
  font-size: $font-small;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media screen and (min-width: 400px) {
  .menu-box {
    position: relative;
  }
}