// index
.list-item {
  height: 50px;
  background-color: $gray;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
  padding-top: 10px;
}
// show
.heading-lg {
  font-size: $font-large;
}

.info-box p {
  margin-bottom: 8px;
}
.info {
  width: 20px;
  font-size: $font-large;
  text-align: center;
  margin-right: 10px;
}
.box-title {
  font-size: $font-small;
  font-weight: bold;
}
.file-box {
  position: relative;
  margin: 10px auto;
  border: 2px solid $primary;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  background: $gray;
  color: transparent;
  transition: background-color 0.3s ;
  .file {
    color: transparent;
    width: 280px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 9999px;
    outline: none;
  }
}
.file-box:hover {
  background: $lightprimary;
}
.file-box:before {
  content: 'Profile Image';
  color: black;
  vertical-align: -8px;
}
.profile-image {
  margin: 30px auto;
}