.navigation {
  height: 80px;
  padding: 20px 5px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: $font-xl;
  .backarrow {
    margin-top: -4px;
  }
  .app-name {
    font-size: $font-xl;
    color: $primary;
    font-family: 'Kaushan Script', cursive;
    padding-top: 6px;
  }
  .hamburger {
    color: $primary;
    // position: absolute;
    // top: 20px;
    // right: 15px;
    z-index: 21;
  }
  .dashboard {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s;
    list-style: none;
    height: 100vh;
    width: 320px;
    background: $lightprimary;
    padding: 100px 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    li {
      border-bottom: 1px solid black;
      height: 50px;
      padding-top: 20px;
      vertical-align: middle;
      font-size: $font-normal;
      a {
        color: black;
      }
    }
  }
  .hamburger:focus {
    color: black;
    pointer-events: none;
  }
  .hamburger:focus + .dashboard {
    visibility: visible;
    opacity: 1;
  }
}