form {
  margin: 0;
  padding: 0;
  display: inline;
  .form-btn {
    border: none;
    background: none;
    line-height: 1px;
    padding: 0;
    outline: none;
  }
  .form-btn:hover {
    cursor: pointer;
  }
}
.search-input {
  width: 220px;
  margin-right: 5px;
}