<p class="home-title"><%= current_user.company_name %></p>

<% if current_user.supplier.image %>
  <div class="profile-image">
    <%= image_tag current_user.supplier.image_url(:thumb) %>
  </div>
<% end %>

<%# <div class="message-board"></div> %>

<%= render 'menu_home' %>